/*
 * ${MODULE}.avail
 * Copyright © ${YEAR}
 * All rights reserved.
 */

Module "${MODULE}"
Versions
	"<ADD VERSION HERE>"
Extends
	/* ADD EXTENDS MODULES HERE */
Entries
	/* ADD ENTRY POINTS HERE */
Uses
	/* ADD USES MODULES HERE */
Names
	/* ADD EXPORT NAMES HERE */
Body