<!doctype html>
<!--[if lt IE 7]>
 	<html class="ie6 oldie">
<![endif]-->
<!--[if IE 7]>
	<html class="ie7 oldie">
<![endif]-->
<!--[if IE 8]>
	<html class="ie8 oldie">
<![endif]-->
	<!--[if gt IE 8]>
	<!-->
<html ng-app="stacksApp" class="">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<link href="/_css/stacks.css" rel="stylesheet" type="text/css">
		<!--#include virtual="/_include/head.ssi" -->
		<title>Avail - Library</title>
	</head>
	<body ng-controller="CategoriesCntrl">
		<div class="stacks-wrapper">
IMPLEMENTATION-GROUP
		</div>
	</body>
</html>
			