.methodBody
{margin: 5px;
font-size: 13px}

.methodDescriptionBody {
	padding-left: 10px;
	margin: 0px;
	
}
.methodSubSections {padding-left: 15px;
		margin: 0px;
}
.methodParameters, .methodReturns {padding-left: 25px;
		margin: 0px;
}
.methodParamType {padding-left: 30px;
		margin: 0px;
}
.methodSubSectionDescriptions {padding-left: 30px;
		margin: 0px;
}
