/*************************** Global defaults *************************/
body 
{
	font-family: Arial, sans-serif;
	font-size: 13px;
	margin: 0px;
}

a:link, a:visited
{
	text-decoration: none;
	color: #336652;
}

a:hover 
{
	text-decoration: underline;
	color: blue;
}

h2 
{
	margin: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

/************************** Page structure *************************/

iframe
{
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
	position: static;
	margin: 0px;
	padding: 0px;
}

.CategoriesPane 
{
	width: 20%;
	height: 30%;
	float: left;
}

.MethodsPane 
{
	top: 30%;
	width: 20%;
	height: 70%;
}

.DetailsPane 
{
	width: 80%;
	height: 100%;
	float: right;
}

/************************** Content structure *************************/

h2.PaneHeading 
{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color:#2B5545;
}

.PaneContent 
{
	padding: 5px;
}

.MethodLinks
{
	font-family: "Lucida Sans Typewriter", Courier, "Courier New", monospace;
	font-size: 12px;
}

/***** Details pane *****/

h2.MethodHeading 
{
	font-size: 15px;
	font-family: "Lucida Sans Typewriter", Courier, "Courier New", monospace;
	text-align: center;
	color: white;
	background-color: #4d9a7c;
}

.MethodBodyIndent 
{
	padding-left: 15px; 
}

.MethodSectionHeader 
{
	font-size: 15px;
	font-weight: bold;
	color: #2B5545;
	margin-bottom: 15px;
}

.MethodSectionContent 
{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.SignatureHeading 
{
	font-family: "Lucida Sans Typewriter", Courier, "Courier New", monospace;
	font-size: 20px;
	text-align: left;
	margin-bottom: 10px;
}

.SignatureDescription
{
	margin-bottom: 15px;
}

/* Method implementation and restriction table styling */

table 
{
	vertical-align: top;
	margin-bottom: 30px;
}

.Transparent
{
	color: inherit;
	background-color: inherit;
}

th /** Table heading cells **/
{
	font-size: 13px;
	color: white;
	text-align: left;

	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

th.GColLabelNarrow 
{
	background-color: #C0C0C0;
	width: auto;
}

th.GColLabelWide 
{
	background-color: #C0C0C0;
	width: 100%;
}

th.GRowLabel 
{
	background-color: #C0C0C0;
	white-space: nowrap;
}

th.IColLabelNarrow 
{
	background-color: #AED6C6;
	width: auto;
}

th.IColLabelWide 
{
	background-color: #AED6C6;
	width: 100%;
}

th.IRowLabel 
{
	background-color: #AED6C6;
	white-space: nowrap;
}

th.SColLabelNarrow 
{
	background-color: #C0C0C0;
	width: auto;
}

th.SColLabelWide 
{
	background-color: #C0C0C0;
	width: 100%;
}

th.SRowLabel 
{
	background-color: #C0C0C0;
	white-space: nowrap;
}

td /** Table data cells **/
{
	font-size: 13px;
	text-align: left;

	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.GCode 
{
	background-color: #EEEEEE;
	font-family: "Lucida Sans Typewriter", Courier, "Courier New", monospace;
	font-size: 12px;
	white-space: nowrap;
}

td.GDesc 
{
	background-color: #EEEEEE;
	width: 100%;
}

td.ICode 
{
	background-color: #E2F0EB;
	font-family: "Lucida Sans Typewriter", Courier, "Courier New", monospace;
	font-size: 12px;
	white-space: nowrap;
}

td.IDesc 
{
	background-color: #E2F0EB;
	width: 100%;
}

td.SCode 
{
	background-color: #EEEEEE;
	font-family: "Lucida Sans Typewriter", Courier, "Courier New", monospace;
	font-size: 12px;
	white-space: nowrap;
}

td.SDesc 
{
	background-color: #EEEEEE;
	width: 100%;
}




