header.md-header {
    /* custom color for top half of upper nav bar */
    background-color: hsl(141, 37%, 36%) !important;
}

nav.md-tabs {
    /* custom color for bottom half of nav bar */
    background-color: hsl(141, 37%, 36%) !important;
}

a.md-header-nav__button.md-logo svg, a.md-header-nav__button.md-logo img {
    width: 1.75rem;
    height: auto;
}

label.md-nav__title {
	/* custom color for side window from hamburger nav bar */
	background-color: hsl(0, 0%, 100%) !important;
	/*color: white !important;*/
}
