<div class="stacks-wrapper">
	<p>
	Welcome to Stacks 1.0.0 DEV --the formal documentation of Avail's standard library. Please note that this is a development version.  If you find any bugs in Stacks, please report them on <u><a href="https://trac.availlang.org">Trac</a></u>.  Though Stacks can be generated through the Avail Workbench, it presently does not output all the files necessary for the main Stacks interface to function.  Until such time as those files are available in a future release, it is recommended that Stacks be accessed through the Avail website.
	</p>
	<p>
	Each Avail library method belongs to at least one category. The currently populated categories are listed in the Categories pane on the top left, and the methods in all of the selected categories, if any, are listed in the Methods pane on the bottom left. Categories are defined in the table below.  In the default case, when no categories are selected, no methods are displayed. The visibility of both categories and methods can be filtered by using their respective filter boxes. Filtering categories does <em>not</em> affect whether they are selected.
	</p>
	<p>	
	To view documentation for a method, click its link in the Methods pane. The contents of this pane will be replaced with the method details page, which includes the full method name, a general description of the method (if any), and the details of each grammatical restriction, method implementation, and semantic restriction defined for the method name.
	</p>
		<h4 class="method-section-header">Stacks Categories</h4>
	<div class="method-section-content">
        <table class="stacks">
        <thead>
            <tr>
                <th class="stacks i-col-label-narrow" scope="col">Category</th>
                <th class="stacks i-col-label-wide" scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in categoriesDescriptions.content">
                <td class="stacks i-code" scope="col">{{category.category}}</td>
                <td class="stacks i-desc">{{category.description}}</td>
            </tr>
        </tbody>

        </table>
    </div>        
</div>