
<!-- The left-aligned pane -->
<div id="SidePane">
	<!-- The categories pane -->
	<div id="CategoriesPane">
		<h2 class="pane-heading">Categories</h2>
		<div class="pane-filter" style="z-index:1"> <span style="width:30%">Filter:</span> <input style="width:70%" type="text" ng-model="search"><br></div>
		<div class="pane-contents">
			<div ng-repeat="stacksCategory in categories.content | orderBy: ['category'] | filter : filterOnCategory ">
				<div>
					<input type="checkbox" name="favoriteColors" ng-model="stacksCategory.selected" ng-change="methodListUpdate()">
					{{" " + stacksCategory.category + " "}}
				</div>
			</div>
		</div>
	</div>
	<!-- The methods pane -->
	<div style="z-index:1" id="MethodsPane">
	    <h2 class="pane-heading">Methods</h2>
	    <div class="pane-filter"><span style="width:30%">Filter:</span> <input style="width:70%" type="text" ng-model="find.name"><br></div>
		<div class="pane-contents">
			<div ng-repeat="method in methodList.content | orderBy: 'name' | filter : find">
				<a title="{{method.link}}" style= "cursor: pointer" ng-click="goToMethod(method.link)" >{{method.name}}</a><br>
			</div>
		</div>
	</div>
</div>
<!-- The right-aligned content pane -->
<div id="MainPane">
	<h2 class="pane-heading-right">
		<a class="pane-heading-link" href="/index.html">Avail Home</a>
		&nbsp;
		<a class="pane-heading-link" ui-sref="stacks.main">Main</a>
		&nbsp;
		<!--a class="pane-heading-link" >Back</a>
		&nbsp;-->
		<a class="pane-heading-link" title="Direct link to method page in frame outside of Stacks." ng-click="goToDirectMethod()">Direct Link</a>
	</h2>
	<div style="padding-top:10px; padding-left:10px; padding-bottom:2px" class="method-section-header">
		<strong>Method Search:</strong> &nbsp;<input type="text" ng-model="methodSearch" ng-enter="getInternalLink(methodSearch)">&nbsp; 
		<button ng-click="getInternalLink(methodSearch)">Search</button>
		<br>
		<span style="padding-left:20px; font-size:small"><input type="checkbox" ng-model="strictSearch">Exact match</span>
		<br>
		<div style="padding-left:20px" ng-repeat="(key, value) in methodLinkagePairedDown | orderBy: 'key' | filter : methodSearch">
			<a style="{{customStyle}}" href="{{value}}" >{{key}}</a>
		</div>
	
		<!-- STUFF GOES HERE!! -->
  	  	<div class="main-frame">
  	  		<div class="stacks-wrapper">
  	  			<!--h1>Hello World</h1-->
  	  			<div ui-view></div>
  	  		</div>
		</div>
	</div>
	
</div>