<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaAppLauncher</string>
	<key>CFBundleIconFile</key>
	<string>AvailHammer.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.avail.environment.AvailWorkbench</string>
	<key>CFBundleDisplayName</key>
	<string>Workbench</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Avail Workbench</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1993-2020, The Avail Foundation, LLC.</string>
	<key>JVMMainClassName</key>
	<string>com.avail.environment.AvailWorkbench</string>
	<key>NSJavaPath</key>
	<array>
		<string>%@/Java</string>
	</array>
	<key>JVMOptions</key>
	<array>
		<string>-ea</string>
		<string>-Xmx3072m</string>
	</array>
	<key>JVMArguments</key>
	<array/>
</dict>
</plist>
